/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* 

    GENERAL

*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}


.bg{
    background-color: #DCDBD2;
    width: 100%;
}

.header-bg{
    background-color: #009688;
    width: 100%;
    height: 100px;
}


/* 

    MAIN

*/
.cont-chat{
    display: flex;
    background-color: white;
    position: relative;
    top: -70px;
    height: 100vh;
    background-color: white;
}


.left-main{
    width: calc(100% - 700px);
}

.right-main{
    width: calc(100% - 300px);
}

/* 

    MAIN-LEFT

*/

.user img{
    border-radius: 50%;
    width: 20%;
    vertical-align: middle;
}

.user p{
    display: inline-block;
    font-size: 15px;
    vertical-align:middle;
    margin-left: 5px;
}

.flex-header-left{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EAEAEA;
    border-right: 0.5px solid rgba(161, 161, 161, 0.377);
    align-items: center;
    height: 60px;
}

.user{
    width: calc(100% - 30%);
}

.icon-user{
    width: calc(100% - 70%);
    text-align: end;
}


.icon-user > ul{
    list-style: none;
}

.icon-user > ul li{
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    vertical-align: middle;
    color: #B1B1B1;
}

.notifiche{
    background-color: #8EDAFC;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.text-notifiche > p{
    font-size: 13px;
    font-weight: 500;
}

.text-notifiche > a{
    font-size: 10px;
    color: #939393;
}

.bell-unmute{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.bell-unmute > i{
    color: #8EDAFC;
}

.search-bar-cont{
    padding: 5px;
    background-color: #FAFAFA;
    height: 30px;
}

.search-bar{
    padding: 5px;
    width: 88%;
    border: 1px solid rgb(206, 206, 206);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.icon-search{
    padding: 6px 10px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-right: none;
    width: 15%;
    font-size: 12px;
    color:#939393;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}


.contact-list{
    margin-top: 5px; 
    height: calc(100% - 140px);
    overflow-y: auto;
}


.contact-list > ul > li > div.contact_container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(188, 188, 188, 0.466);
    padding: 10px;
}

.contact-list > ul > li:hover{
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}

.active{
    background-color: rgb(195, 195, 195);
}


.contact-list > ul > li:last-child{
    border-bottom: none;
}


.img-user > img{
    width: 20%;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.img-user > div {
    display: inline-block;
    vertical-align: middle;
}

.img-user > div p:nth-child(2){
    font-size: 10px;
    color: #939393;
    vertical-align: middle;
}

.img-user > div p:nth-child(1){
    font-size: 15px;
    margin-bottom: 3px;    
}

.orario{
    padding: 5px;
    font-size: 10px;
    color: #939393;
}

/* 

    MAIN-RIGHT

*/

.right-main{
    background-image: url(../img/mine.jpg);
}

.flex-header-right{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #EAEAEA;
    align-items: center;
    height: 60px;
}

.user-chat > img{
    width: 7%;
    border-radius: 50%;
}

.user-chat > div {
    display: inline-block;
    margin-left: 10px;
    
}

.user-chat > div > p:nth-child(1){
    vertical-align: middle;
    margin-bottom: 5px;
}

.user-chat > div > p:nth-child(2){
    vertical-align: middle;
    font-size: 10px;
    color: #939393;
}


.icon-header-right > ul{
    list-style: none;
    display: inline-block;
}

.icon-header-right > ul li{
    display: inline-block;
    margin: 0 8px;
    color:#939393;
}



.chat{
    height: calc(100% - 120px);
    padding: 20px 30px;
}



.text-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F3EEEA;
}

.emoji, .vocal{
    padding: 15px;
    color: #6B7376;
}

.text-bar > input{
    width: 600px;
    padding: 10px;
    border: 1px solid rgba(179, 179, 179, 0.416);
    border-radius: 5px;
}


.single-message-container{
    display: flex;
}

.single-message-container.send{
    justify-content: flex-end;
}

.single-message-container.received{
    justify-content: flex-start;
}

.single-message-container.send > .single-message-item{
    padding: 10px;
    max-width: 50%;
    background-color:#D5F9BA;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.single-message-container.send > .single-message-item > .single-date{
    text-align: end;
    margin-top: 5px;
    font-size: 10px;
}

.single-message-container.received > .single-message-item{
    padding: 10px;
    max-width: 50%;
    background-color:#ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.single-message-container.received > .single-message-item > .single-date{
    text-align: end;
    margin-top: 5px;
    font-size: 10px;
}