/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}




/* 

    GENERAL

*/
#app{
    width: 75%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 42px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -1px rgba(0,0,0,0.7);
}

#app > aside{
    width: 30%;
}

#app > section{
width: 70%;
}

#app > section > .header-user-chat{
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#app > section > .footer-send-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #EAEAEA;
}

#app > section > .main-chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);
    overflow-y: auto;
    padding: 30px;
}



ul{
    list-style: none;
}



#app > aside > header{
    height: 60px;
}

#app > aside > section:nth-child(2){
    height: 60px;
}


#app > aside > section:nth-child(3){
    height: 50px;
}

#app > aside > section:nth-child(4){
    height: calc(100% - 170px);
    overflow-y: auto;
}

/* 

    MAIN

*/

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(218,219,212);
    background: linear-gradient(0deg, rgba(218,219,212,1) 85%, rgba(0,150,136,1) 85%); 
}




/* 

    MAIN-LEFT

*/

.header-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EAEAEA;
    border-right: 1px solid rgba(208, 208, 208, 0.44);
    height: 100%;
}



.header-aside > .img-user{
    width: 50%;
}

.header-aside > .img-user > img{
    width: 25%;
    border-radius: 50%;
    vertical-align: middle;
}

.header-aside > .img-user > span{
    vertical-align: middle;
    margin-left: 10px;
}

.header-aside > .icon-header > ul li,
.header-user-chat > .icon-user > ul li{
    display: inline-block;
    color:#777777;
    margin-left:18px;
    font-size: 20px;
    cursor: pointer;
}

.notifiche{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color:#8EDAFC;
    height: 100%;
}

.notifiche > .bell-unmute{
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
    padding: 10px;
}

.notifiche > .text-notifiche{
    margin-left: 10px;
}

.text-notifiche > p{
    font-size: 12px;
    font-weight:600;
    margin-bottom: 3px;
}

.text-notifiche > a{
    color: #878787;
    font-size: 12px;
}

.search-bar{
    background-color:#dbdbdb;
    padding: 10px;
    display: flex;
}

.search-bar > input{
    width: 85%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px;
    flex-grow: 1;
}




.search-bar > div > span{
    text-align: center;
    padding: 5px 22px;
    border-right: 1px solid rgba(208, 208, 208, 0.44);
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    background: white;
    padding-bottom: 9px;
    vertical-align: -webkit-baseline-middle;
}

.search-bar > div > span i{
    vertical-align: middle;
}


.contact-list ul li{
    border-bottom: 1px solid rgba(208, 208, 208, 0.44);
    cursor: pointer;
}

.contact-list ul li:last-child{
    border-bottom: none;
}

.contact-list ul li:hover{
    background-color: #b1b1b170;
}

.active{
    background-color: #b1b1b170;
}

.user-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.name-image > img{
    width: 15%;
    border-radius: 50%;
    vertical-align: middle;
}

.name-image > div{
    display: inline-block;
    vertical-align: middle;
}

.name-image > div p{
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.name-image > div p:nth-child(2), .orario-chat{
    font-size: 10px;
    color: #7e7e7e;
}



/* 

    MAIN-RIGHT

*/

.user-info > img{
    border-radius: 50%;
    margin-right: 10px;
    width: 10%;
}

.user-info{
    display: flex;
    height: 100%;
    align-items: center;
}

.user-info > div > p:nth-child(2){
    font-size: 10px;
    color: #787878;
    margin-top: 5px;
}

.user-info > div > p:nth-child(1){
    vertical-align: middle;
}

.icon-user ul{
    margin-right: 10px;
}

.send-message{
    flex-grow: 1;
}

.send-message input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.emoji, .microphone{
    padding: 20px;
    color: #777777;
    font-size: 20px;
}

.single-message-container{
    display: flex;
}

.single-message-container.send{
    justify-content: flex-end;
}

.single-message-container.received{
    justify-content: flex-start;
}

.single-message-container.send > .single-message-item{
    padding: 10px;
    max-width: 50%;
    background-color:#D5F9BA;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.single-message-container.send > .single-message-item > .single-date{
    text-align: end;
    margin-top: 5px;
    font-size: 10px;
}

.single-message-container.received > .single-message-item{
    padding: 10px;
    max-width: 50%;
    background-color:#ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.single-message-container.received > .single-message-item > .single-date{
    text-align: end;
    margin-top: 5px;
    font-size: 10px;
}