<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>
        
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <main class="main-container">
            <div id="app">
                <aside>
                    <header>
                        <div class="header-aside">
                            <div class="img-user">
                                <img src="./img/avatar_io.jpg" alt="avatar">
                                <span>Domenico</span>
                            </div>  

                            <div class="icon-header">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-message"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <section>
                        <div class="notifiche">
                            <div class="bell-unmute">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>

                            <div class="text-notifiche">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="search-bar">
                            <div>   
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            </div>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchUser" @keyup="searchContact">
                        </div>
                    </section>

                    <section>
                        <div class="contact-list">
                            <ul>
                                <li v-for="(contact, i) in contacts" :class="i == contactsCounter ? 'active' : ''" @click="changeActiveContact(i)">
                                    <div class="user-container" v-if="contact.visible == true">
                                        <div class="name-image">
                                            <img :src="contact.avatar" alt="">
                                            
                                            <div>
                                                <p>{{ contact.name }}</p>
                                                <p>Ultimo messaggio inviato</p>
                                            </div>
                                        </div>

                                        <div class="orario-chat">
                                            <p>12:00</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>

                </aside>
                <section>
                    <div class="header-user-chat">
                        <div class="user-info">
                            <img :src="contacts[contactsCounter].avatar" :alt="contacts[contactsCounter].name">

                            <div>
                                <p>{{ contacts[contactsCounter].name }}</p>
                                <p>Ultimo accesso oggi alle 12:23</p>
                            </div>
                        </div>

                        <div class="icon-user">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-paperclip"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="main-chat">
                        <div class="single-message-container" v-for="(elemMessage,i) in contacts[contactsCounter].messages" :class="elemMessage.status == 'sent' ? 'send' : 'received'">
                            <div class="single-message-item">
                                <div class="single-text">
                                    {{ elemMessage.message }}
                                </div>
                                <div class="single-date">
                                    {{elemMessage.date}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-send-message">
                        <div class="emoji">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>

                        <div class="send-message">
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage()">
                        </div>

                        <div class="microphone">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>

                </section>
            </div>
        </main>

        <!-- Importazione Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- Mio Script -->
        <script src="js/scripts.js" type="text/javascript"></script>

    </body>
</html>